/* H1 Styling */
h1 {
    color: #569C4C;
    font-family: Arial, Helvetica, sans-serif;
}

/* H2 Styling */
h2 {
    color: #438C8A;
    font-family: Arial, Helvetica, sans-serif;
}

/* Paragraph Styling */
p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Unordered List Styling */
ul {
    font-family: Arial, Helvetica, sans-serif;
}